@model BijuteriaProject.Data.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли за продукта</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Наименование:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Категория:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>
        <dt class = "col-sm-2">
            Приложение:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prilojeniq.Name)
        </dd>
        <dt class="col-sm-2">
            Снимка:
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.PhotoURL)" width="200"/>
        </dd>
        <dt class = "col-sm-2">
            Описание:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class = "col-sm-2">
            Цена:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) лв.
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class="col-sm-2" style="text-justify:auto">
                Дата на промяна:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegDate)
            </dd>
        }

    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <div>
        <a class="btn btn-primary"asp-action="Edit" asp-route-id="@Model?.Id">Промени</a> |
        <a asp-action="Index">Обратно към бижутата</a>
    </div>
}

