@model IEnumerable<BijuteriaProject.Data.Product>

@{
    ViewData["Title"] = "Index";
}

<center><h1>Бижута</h1></center>
@if (User.IsInRole("Admin"))
{
    <center>
        <p>
            <a class="btn btn-primary" asp-action="Create">Добави ново бижу</a>
        </p>
    </center>
}
<style>
    thead {
        background-color: lightsteelblue
    }
</style>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Снимка:
            </th>
            <th>
                Наименование:
            </th>
            <th>
                Категория:
            </th>
            <th>
                Приложение:
            </th>         
            <th>
                Цена:
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    Дата на промяна:
                </th>
            }

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.PhotoURL)" width="100" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categories.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prilojeniq.Name)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Price) лв.
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.RegDate)
                    </td>
                }
                @if (User.IsInRole("Admin"))
                {
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактирай</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Детайли</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Изтрий</a>
                    </td>
                }
                else
                {                 
                        <td>
                        <form method="get" asp-controller="Orders" asp-action="CreateWithProductId" asp-route-productId="@item.Id">
                            <input name="productId" type="hidden" value="@item.Id" />
                            <input name="countP" id="ccount" type="number" width="1" value="1"  style="color:black; font:bold" /> броя
                            <input type="submit" value="Поръчай" class="btn btn-primary" />
                        </form>
                        </td>
                         

                                        
                }
               
            </tr>
        }
    </tbody>
</table>

