@model BijuteriaProject.Data.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли за поръчката</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Поръчан продукт/бижу:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.Name)
        </dd>
        <dt class = "col-sm-2">
            Поръчан от:
        </dt>
        <dd class = "col-sm-10">
            @Model.Clients.FirstName @Model.Clients.LastName
        </dd>
        <dt class = "col-sm-2">
            Количество:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
           Дата на поръчката:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary"asp-action="Edit" asp-route-id="@Model?.Id">Промени</a> |
    <a asp-action="Index">Обратно към поръчките</a>
</div>
